.dmpl-visual-picker{
    --slds-c-icon-color-foreground-default: rgb(255,255,255);
  }

.dmpl-justify_left{
    justify-content: left;
}

@media screen and (max-width: 400px) {
  .dmpl-width-100 {
    width: 100%;
    height: auto;
  }
}